<div id="news-listing" class="container-fluid">
	<div class="section">
		<div class="row">
			<div class="col-sm-12">
				<div id="site-content" class="site-content">
					<div class="section add inner-add">
					<h1> Tu Portal de Noticias Inteligente </h1>
					</div>
					<h1 class="section-title title" *ngIf="category"><a>{{ category }}</a></h1>
						<div class="section">
							<div class="row" masonry [options]="options" [useImagesLoaded]="false" [options]="options">
						
									<div masonry-brick *ngFor="let news of newsList" class="col-md-4 col-sm-6 col-xs-12">
										<app-news-list-item  [news-item]="news"></app-news-list-item>
									</div>
							
	
							</div>
							
						</div>
						<!--/.lifestyle -->
					
				</div>
				<!--/#site-content-->
				<!--<div class="load-more text-center">
					<a class="btn btn-primary btn-block" href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Load More News</a>
				</div>-->
			</div>
			<!--<div class="col-sm-3">
				<app-most-popular-news></app-most-popular-news>
			</div>-->
		</div>
	</div>
	<!--/.section-->

</div>
<!--/.container-fluid-->