<div class="post medium-post" [ngClass]="['post-category-'+ (newsItem?.category || 'default')]">
  <div class="entry-header">
    <div class="entry-thumbnail">
      <a [routerLink]="['/news', newsItem?._id]">
        <img *ngIf="newsItem?.image" class="img-responsive" src="{{ newsItem?.image }}" alt="">
        <img *ngIf="!newsItem?.image" class="img-responsive" src="/assets/images/img_newspark.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="catagory">
    <span class="label">{{newsItem?.category}}</span>
  </div>
  <div class="post-content">
    <div class="entry-meta">
      <ul class="list-inline">
        <li class="publish-date"><a><i class="fa fa-clock-o"></i> Jan 5, 2016 </a></li>
        <li class="views"><a><i class="fa fa-eye"></i>{{ newsItem?.viewsCount }}</a></li>
        <li class="loves"><a><i class="fa fa-newspaper-o"></i>{{ newsItem?.articles.length }}</a></li>
      </ul>
    </div>
    <h2 class="entry-title">
      <a [routerLink]="['/news', newsItem?._id]"><span *ngFor="let concept of newsItem?.concepts">#{{ concept }} </span></a>
    </h2>
  </div>
</div>
<!--/post-->