
<header id="navigation">
			<div class="navbar" role="banner">		
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<a class="navbar-brand"  [routerLink]="['/']">
							<img class="main-logo img-responsive" src="./assets/assets/logo.png" alt="">
						</a>
					</div> 
					<nav id="mainmenu" class="navbar-left collapse navbar-collapse"> 
						<a class="secondary-logo" [routerLink]="['/']">
							<img class="img-responsive" src="./assets/assets/logo.png" alt="">
						</a>
						<ul class="nav navbar-nav">                       
							<li><a [routerLink]="['category', 'internacionales']">Internacionales</a></li>
							<li><a [routerLink]="['category', 'economia']">Economía</a></li>
							<li><a [routerLink]="['category', 'politica']">Politica</a></li>
							<li><a [routerLink]="['category', 'sociedad']">Sociedad</a></li>
							<li><a [routerLink]="['category', 'espectaculos']">Espectaculos</a></li>
							<li><a [routerLink]="['category', 'deportes']">Deportes</a></li>
						</ul> 					
					</nav>
					
					<div class="searchNlogin">
						<!--<ul>
							<li class="search-icon"><i class="fa fa-search"></i></li>
							<li class="dropdown user-panel"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
								<div class="dropdown-menu top-user-section">
									<div class="top-user-form">
										<form id="top-login">
											<div class="input-group" id="top-login-username">
												<span class="input-group-addon"><img src="./assets/assets/user-icon.png" alt=""></span>
												<input type="text" class="form-control" placeholder="Username" required="">
											</div>
											<div class="input-group" id="top-login-password">
												<span class="input-group-addon"><img src="./assets/assets/password-icon.png" alt=""></span>
												<input type="password" class="form-control" placeholder="Password" required="">
											</div>
											<div>
												<p class="reset-user">Forgot <a href="http://demo.themeregion.com/dailynews/index-boxed.html#">Password/Username?</a></p>
												<button class="btn btn-danger" type="submit">Login</button>
											</div>
										</form>
									</div>
									<div class="create-account">
										<a href="http://demo.themeregion.com/dailynews/index-boxed.html#">Create a New Account</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="search">
							<form>
								<input type="text" class="search-form" autocomplete="off" placeholder="Type &amp; Press Enter">
							</form>
						</div> <!--/.search--> 
					</div><!--.searchNlogin -->
				</div>
			</div>
		</header><!--/#navigation--> 