<app-source-image [source]="article?.source"></app-source-image>
<h2 class="entry-title">
	{{ article?.title }}
</h2>
<div class="entry-content">
	<p *ngFor="let paragraph of article?.content.split('\n')"> {{ paragraph }}</p>

	<!--   <div class="news-tags">
      <span>Tags:</span>
      <ul class="list-inline">
        <li><a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#">Business</a>,</li>
        <li><a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#">Money</a>,</li>
        <li><a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#">USA</a>,</li>
        <li><a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#">Ebook</a>,</li>
        <li><a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#">Top News</a></li>
      </ul>
    </div>

    <ul class="list-inline share-link">
      <li>
        <a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#"><img src="./assets/assets/s1.png" alt=""></a>
      </li>
      <li>
        <a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#"><img src="./assets/assets/s2.png" alt=""></a>
      </li>
      <li>
        <a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#"><img src="./assets/assets/s3.png" alt=""></a>
      </li>
      <li>
        <a href="http://demo.themeregion.com/dailynews/news-details-boxed.html#"><img src="./assets/assets/s4.png" alt=""></a>
      </li>
    </ul>-->
</div>