<div class="section add inner-add">
  <h1> Tu Portal de Noticias Inteligente </h1>
</div>
<div id="newsdetails" class="container-fluid">

  <div class="section">
    <div class="row">
      <div class="col-sm-12">
        <div id="site-content" class="site-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="left-content">

               <!-- <h1 class="section-title title" style="text-transform:capitalize;">{{ newsItem?.articles[0]?.tag }}</h1>-->
                <div class="details-news">
                  <div class="post">
                    <div class="entry-header">
                      <div class="row container">
                        <div *ngIf="newsItem?.image" class="entry-thumbnail col-md-6">
                          <img alt="" class="img-responsive" src="{{ newsItem?.image }}">
                        </div>
                        <div *ngIf="!newsItem?.image" class="col-md-2"></div>

                        <div [ngClass]="{'col-md-6': newsItem?.image, 'col-md-8': !newsItem?.image}" style="vertical-align: middle;">
                          <h1 style="margin-top: 50px; text-align: center;"><span *ngFor="let concept of newsItem?.concepts">#{{ concept }} </span></h1>
                        </div>
                      </div>

                    </div>
                    <div class="post-content">
                      <div class="entry-meta">
                        <ul class="list-inline">
                          <li class="publish-date"><a ><i class="fa fa-clock-o"></i> Nov 15, 2016 </a></li>
                          <li class="views"><a><i class="fa fa-eye"></i>{{newsItem?.viewsCount }}</a></li>
                          <li class="loves"><a><i class="fa fa-newspaper-o"></i>{{ newsItem?.articles.length }}</a></li>

                        </ul>
                      </div>
                      <div class="row">
                        <div *ngFor="let article of newsItem?.articles" class="col-md-6">
                          <app-article [article]="article"></app-article>


                        </div>
                      </div>

                    </div>
                  </div>
                  <!--/post-->
                </div>
                <!--/.section-->
              </div>
              <!--/.left-content-->
            </div>
          </div>
        </div>
        <!--/#site-content-->
      </div>
    </div>
  </div>
  <!--/.section-->
</div>
<!--/.container-fluid-->