	<div id="sitebar">							
							<div class="widget">
								<h1 class="section-title title"><a href="http://demo.themeregion.com/dailynews/listing.html">Most Popular</a></h1>
								<ul class="post-list">
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/1(1).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Internacionales</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">Patti Solis Doyle, who served as a senior adviser</a>
												</h2>
											</div>
										</div><!--/post--> 
									</li>
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/2(3).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Business</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">The interview comes as the infidelity scandal and other </a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/3(2).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Sports</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">They have long conversations together. It's a very good</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/4(3).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Technology</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">He just sort of puts his hands on her shoulders</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/6(1).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Health</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">The winner of the caucuses is decided by state</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="entry-header">
												<div class="entry-thumbnail">
													<a href="http://demo.themeregion.com/dailynews/news-details.html"><img class="img-responsive" src="./assets/assets/7(1).jpg" alt=""></a>
												</div>
											</div>
											<div class="post-content">								
												<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Lifestyle</a></div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">Rosa went with the man to another town in Mexico called Tenancingo, where he introduced</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
								</ul>
							</div><!--/#widget-->
							<div class="widget">
								<h2 class="section-title">Latest Comments</h2>
								<ul class="comment-list">
									<li>
										<div class="post small-post">
											<div class="post-content">	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="post-author"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Jhon Due ,</a></li>
														<li class="publish-date"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Feb 11, 2016 </a></li>
													</ul>
												</div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">A travel ban in New York City has ended as the eastern</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="post-content">	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="post-author"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">KOlony Wispe ,</a></li>
														<li class="publish-date"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Jan 25, 2016 </a></li>
													</ul>
												</div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">New York, the most populated city in the US, saw its second-highest</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="post-content">	
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="post-author"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">KOlony Wispe</a></li>
														<li class="publish-date"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Jan 25, 2016 </a></li>
													</ul>
												</div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">A large chunk of metal that could be from an aircraft washed ashore</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="post-content">
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="post-author"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Mike Tinson ,</a></li>
														<li class="publish-date"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Jan 18, 2016 </a></li>
													</ul>
												</div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">Showing her the stunning homes around the town, he promised she could</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
									<li>
										<div class="post small-post">
											<div class="post-content">
												<div class="entry-meta">
													<ul class="list-inline">
														<li class="post-author"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Andrew Matt,</a></li>
														<li class="publish-date"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Jan 18, 2016 </a></li>
													</ul>
												</div>
												<h2 class="entry-title">
													<a href="http://demo.themeregion.com/dailynews/news-details.html">The very next day I started our crusade to see</a>
												</h2>
											</div>
										</div><!--/post-->
									</li>
								</ul>
							</div><!-- widget -->
							
							<div class="widget">
								<div class="add">
									<a href="http://demo.themeregion.com/dailynews/listing-boxed.html#"><img class="img-responsive" src="./assets/assets/add6.jpg" alt=""></a>
								</div>
							</div>
							<div class="widget">
								<div class="post video-post medium-post">
									<div class="entry-header">
										<div class="entry-thumbnail embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" src="./assets/assets/Ji2ohWJfEIQ.html" allowfullscreen=""></iframe>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Politics</a></div>
										<h2 class="entry-title">
											<a href="http://demo.themeregion.com/dailynews/news-details.html">Satellite images released by NASA show the extent of smoke plume</a>
										</h2>
									</div>
								</div><!--/post-->
								<div class="post video-post medium-post">
									<div class="entry-header">
										<div class="entry-thumbnail embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" src="./assets/assets/0aqiPyTJv8E.html" allowfullscreen=""></iframe>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">World</a></div>
										<h2 class="entry-title">
											<a href="http://demo.themeregion.com/dailynews/news-details.html">The next president of the United States is gonna have to get the</a>
										</h2>
									</div>
								</div><!--/post-->
								<div class="post video-post medium-post">
									<div class="entry-header">
										<div class="entry-thumbnail embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" src="./assets/assets/n8_uY4Ro53c.html" allowfullscreen=""></iframe>
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Lifestyle</a></div>
										<h2 class="entry-title">
											<a href="http://demo.themeregion.com/dailynews/news-details.html">New Jersey Gov. Chris Christie has been hammering home</a>
										</h2>
									</div>
								</div><!--/post-->
								
								<div class="post medium-post">
									<div class="entry-header">
										<div class="entry-thumbnail embed-responsive embed-responsive-16by9">
											<img class="img-responsive" src="./assets/assets/1.jpg" alt="">
										</div>
									</div>
									<div class="post-content">								
										<div class="video-catagory"><a href="http://demo.themeregion.com/dailynews/listing-boxed.html#">Lifestyle</a></div>
										<h2 class="entry-title">
											<a href="http://demo.themeregion.com/dailynews/news-details.html">A bus has exploded in central London — but this time it's</a>
										</h2>
									</div>
								</div><!--/post-->
							</div>
						</div><!--/#sitebar-->